<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @future_link.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @future_link.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @future_link.description %>
</p>


<% if @future_link.tags.count > 0%>
<p>
	<% @future_link.tags.each do |tag|%>
		<%= link_to tag.name,
      			future_links_path(:search_by_tag_id => tag.id),
      			:class => 'tag_tag'
      			%><br/>
    <%end%>
</p>
<%end%>

<%= link_to 'Edit', edit_future_link_path(@future_link) %> |
<%= link_to 'Back', future_links_path %>
