<%= nested_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited
      this recipe from being saved:</h2>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <div>
  <table class='gridtable'>
	<caption>Ingredients</caption>
	<thead>
		<tr>
			<th style="width:75px">Quantity</th>
			<th style="width:200px">Ingredient</th>
			<th style="width:200px">Preparation</th>
		</tr>
	</thead>
  </table>

<%= f.fields_for :ingredient_quantity_groups do |iqd_fields| %>
<%= iqd_fields.text_field :name %>
<table class='gridtable' id="ingredients">
	<%= iqd_fields.fields_for :ingredient_quantities, :wrapper => false %>
	<td colspan="4">
				<%= iqd_fields.link_to_add "Add an Ingredient", 
  					:ingredient_quantities,
  					:data => { :target => "#ingredients" } %>
  		</td>
</table>

<%end%>
<div>
	<%= f.link_to_add "Add an Ingredient Group", :ingredient_quantity_groups%>
	</div>
</div>

 <p>
    <%= f.submit %>
 </p>
<% end %>
