<%= nested_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited
      this recipe from being saved:</h2>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "50", :autocomplete => :off %>
  </p>
  
  <p>
  	<%= f.label :category %>
  	<%= f.collection_select(:category_id, Category.order("name"), :id, :name, prompt: true) %>
  </p>
  <h2>Description</h2>
  <p>
    <%= f.text_area :description, size: "100x4", :autocomplete => :off %>
  </p>
  
  <p>
  	<%= f.label :total_time %>: <%= f.text_field :total_time, size: "3", :autocomplete => :off %>
  	<%= f.label :active_time %>: <%= f.text_field :active_time, size: "3", :autocomplete => :off %>
  	<%= f.label :cooking_time %>: <%= f.text_field :cooking_time, size: "3", :autocomplete => :off %>
  </p>
  
  <p>
  	<%= f.label :portion_count %>: <%= f.text_field :portion_count, size:"3", :autocomplete => :off %>
  </p>

  <p>
  	<%= f.label :rating %>: <%= f.text_field :rating, size:"3", :autocomplete => :off %>
  </p>

  <p>
<table class='gridtable' id='links'>
	<caption>Links</caption>
	<thead>
		<tr>
			<th style="width:250px">Description</th>
			<th style="width:500px">URL</th>
		</tr>
	</thead>
	<%= f.fields_for :links, :wrapper => false %>
	<tr>
		<td colspan="2">
			<%= f.link_to_add "Add a link", :links, :data => { :target => "#links"} %>
		</td>
	</tr>
</table>
</p>

  <table class='gridtable'>
	<caption>Ingredients</caption>
	<thead>
		<tr>
			<th style="width:75px">Quantity</th>
			<th style="width:200px">Ingredient</th>
			<th style="width:200px">Preparation</th>
		</tr>
	</thead>
<%= f.fields_for :ingredient_quantity_groups, :wrapper => false do |iqd_fields| %>
	<tr class='fields'>
		<td colspan="3"><%= iqd_fields.hidden_field :id%>
			<%= iqd_fields.text_field :name_or_default, class: 'bold_centered' %></td>
		<!-- <td><%= iqd_fields.link_to_remove 'Remove Group' %></td>-->
		<td>(group)</td>
	</tr>
	<%= iqd_fields.fields_for :ingredient_quantities, :wrapper => false do |iq_fields|%>
	<tr class='fields'>
		<td><%= iq_fields.hidden_field :id%><%= iq_fields.text_field :quantity, :value => iq_fields.object.quantity_as_string, :autocomplete => :off %></td>
		<td><%= iq_fields.collection_select(:ingredient_id, 
								Ingredient.order("name"), 
								:id, :description_in_recipe, :prompt => '<Select an Ingredient>') %></td>
		<td><%= iq_fields.text_field :preparation, :autocomplete => :off %></td>
		<td><%= iq_fields.link_to_remove "Remove Ingredient" %></td>
	
	</tr>
	<%end%>
	<tr><td colspan="3"><%= iqd_fields.link_to_add 'Add Ingredient', :ingredient_quantities%></td></tr>
<%end%>
	<tr>
   		<td><%= f.link_to_add 'Add Group', :ingredient_quantity_groups %></td>
  	</tr>
</table>



<table class='gridtable' id="instructions">
	<caption>Instructions</caption>
	<thead>
		<tr>
			<th style="width:50px">Step #</th>
			<th style="width:500px">Instruction</th>
		</tr>
	</thead>
 <%= f.fields_for :instructions, :wrapper => false %>

<tr>
	<td colspan="2">
<%= f.link_to_add "Add an instruction", 
  					:instructions,
  					:data => { :target => "#instructions" } %>
	</td>
</tr>

</table>
 
  
  <h2>Comments</h2>
  <p>
    <%= f.text_area :comments, size: "100x6" %>
  </p>
  
  
 <br/>
 <p>
    <%= f.submit %>
 </p>
<% end %>
