<%= nested_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited
      this recipe from being saved:</h2>
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <%#= @recipe.inspect %>
  <%#= @recipe.ingredient_quantities.inspect %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "50" %>
  </p>
 
  <h2>Description</h2>
  <p>
    <%= f.text_area :description, size: "100x4" %>
  </p>
  
  <p>
<table class='gridtable' id='links'>
	<caption>Links</caption>
	<thead>
		<tr>
			<th style="width:250px">Description</th>
			<th style="width:300px">URL</th>
		</tr>
	</thead>
	<%= f.fields_for :links, :wrapper => false %>
	<tr>
		<td colspan="2">
			<%= f.link_to_add "Add a link", :links, :data => { :target => "#links"} %>
		</td>
	</tr>
</table>
</p>

<p>
<table class='gridtable' id="ingredients">
	<caption>Ingredients</caption>
	<thead>
		<tr>
			<th style="width:75px">Quantity</th>
			<th style="width:200px">Ingredient</th>
			<th style="width:200px">Preparation</th>
		</tr>
	</thead>
 <%= f.fields_for :ingredient_quantities, :wrapper => false %>
	<tr>
		<td colspan="3">
	<%= f.link_to_add "Add an Ingredient", 
  					:ingredient_quantities,
  					:data => { :target => "#ingredients" } %>
  		</td>
  	</tr>
</table>
</p>

<table class='gridtable' id="instructions">
	<caption>Instructions</caption>
	<thead>
		<tr>
			<th style="width:50px">Step #</th>
			<th style="width:500px">Instruction</th>
		</tr>
	</thead>
 <%= f.fields_for :instructions, :wrapper => false %>

<tr>
	<td colspan="2">
<%= f.link_to_add "Add an instruction", 
  					:instructions,
  					:data => { :target => "#instructions" } %>
	</td>
</tr>

</table>
 
 <br/>
 <p>
    <%= f.submit %>
 </p>
<% end %>
