<%= nested_form_for @recipe do |f| %>
<% if @recipe.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@recipe.errors.count, "error") %> prohibited
	this recipe from being saved:</h2>
	<ul>
		<% @recipe.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.submit %>

<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name, size: "50", :autocomplete => :off %>
</p>

<p>
	<%= f.label :category %>
	<%= f.collection_select(:category_id, Category.order("name"), :id, :name, prompt: true) %>
</p>
<h2>Description</h2>
<p>
	<%= f.text_area :description, size: "100x4", :autocomplete => :off %>
</p>

<%= f.label 'Is Component Recipe: ' %>
<%= f.check_box :is_recipe_component %>
<p>
	<%= f.label :total_time %>: <%= f.text_field :total_time, size: "3", :autocomplete => :off %>
	<%= f.label :active_time %>: <%= f.text_field :active_time, size: "3", :autocomplete => :off %>
	<%= f.label :cooking_time %>: <%= f.text_field :cooking_time, size: "3", :autocomplete => :off %>
</p>

<p>
	<%= f.label :portion_count %>: <%= f.text_field :portion_count, size:"3", :autocomplete => :off %>
</p>

<div class='global-container'>
	<div class='container'>
		<div class='table-caption'>
			Links
		</div>
		<div class='table-heading-3col'>
			<div class='table-col table-col-1-3 table-col-heading'>
				Name
			</div>
			<div class='table-col table-col-2-3 table-col-heading'>
				Link
			</div>
			<div class='table-col table-col-3-3 table-col-heading'></div>
		</div>
	</div>
	<div class='container'>
		<%= f.fields_for :links do |links_fields| %>
		<div class='table-row'>
			<div class='table-col table-col-1-3'>
				<%= links_fields.hidden_field :id%><%= links_fields.text_field :description, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-2-3'>
				<%= links_fields.url_field :url, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-3-3'>
				<%= links_fields.link_to_remove "Remove" %>
			</div>
		</div>
		<%end%>
		<%= f.link_to_add "Add a link", :links, :class => "link-button" %>
	</div>
</div>
<br/>
<div class='global-container'>
	<div class='container'>
		<div class='table-caption'>
			Images
		</div>
		<div class='table-heading-3col'>
			<div class='table-col table-col-1-3 table-col-heading'>
				Name
			</div>
			<div class='table-col table-col-2-3 table-col-heading'>
				URL
			</div>
			<div class='table-col table-col-3-3 table-col-heading'></div>
		</div>
	</div>
	<div class='container' id='image_table'>
		<%= f.fields_for :images do |images_fields| %>
		<div class='table-row'>
			<div class='table-col table-col-1-3'>
				<%= images_fields.hidden_field :id%><%= images_fields.text_field :description, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-2-3'>
				<%= images_fields.url_field :url, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-3-3'>
				<%= images_fields.link_to_remove "Remove" %>
			</div>
		</div>
		<%end%>
		<%= f.link_to_add "Add an Image", :images, :class => "link-button" %>
	</div>
</div>
<br/>

<div class='global-container' id='ingredients_table'>
	<div class='container'>
		<div class='table-caption'>
			Ingredients
		</div>
		<div class='table-heading-3col'>
			<div class='table-col table-col-1-4 table-col-heading'>
				Quantity
			</div>
			<div class='table-col table-col-2-4 table-col-heading'>
				Ingredient
			</div>
			<div class='table-col table-col-3-4 table-col-heading'>
				Preparation
			</div>
			<div class='table-col table-col-4-4 table-col-heading'></div>
		</div>
	</div>
	<div class='container' id='ingredient_group_table'>
		<%= f.fields_for :ingredient_quantity_groups do |iqd_fields| %>
		<div class='table-subcaption'>
			<%= iqd_fields.hidden_field :id%>
			<%= iqd_fields.text_field :name, :value => iqd_fields.object.name_or_default, :class => "bold-centered"%>
		</div>
		<%= iqd_fields.fields_for :ingredient_quantities do |iq_fields|%>
		<div class='table-row'>
			<div class='table-col table-col-1-4'>
				<%= iq_fields.hidden_field :id%>
				<%= iq_fields.text_field :quantity, :value => iq_fields.object.quantity_as_string, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-2-4'>
				<%= iq_fields.collection_select(:ingredient_link_id,
						IngredientLink.order_by_name,
        				:id, :description_in_recipe, :prompt => '
				<Select an Ingredient>
					') %>
			</div>
			<div class='table-col table-col-3-4'>
				<%= iq_fields.text_field :preparation, :autocomplete => :off %>
			</div>
			<div class='table-col table-col-4-4'>
				<%= iq_fields.link_to_remove "Remove" %>
			</div>
		</div>
		<%end%>
		<div class='table-row'>
			<%= iqd_fields.link_to_add 'Add Ingredient', :ingredient_quantities, :class => 'link-button' %>
		</div>
		<%end%>
		<%= f.link_to_add 'Add Group', :ingredient_quantity_groups %>
	</div>
</div>
<br/>
<div class='global-container'>
	<div class='container'>
		<div class='table-caption'>
			Instructions
		</div>
		<div class='table-heading-3col'>
			<div class='table-col instructions-table-col-1-3 table-col-heading'>
				Step #
			</div>
			<div class='table-col instructions-table-col-2-3 table-col-heading'>
				Instruction
			</div>
			<div class='table-col instructions-table-col-3-3 table-col-heading'></div>
		</div>
	</div>
	<div class='container'>
		<%= f.fields_for :instruction_groups do |ig_fields| %>
		<div class='table-subcaption'>
			<%= ig_fields.hidden_field :id%>
			<%= ig_fields.text_field :name, :value => ig_fields.object.name_or_default, :class => "bold-centered"%>
		</div>
		<%= ig_fields.fields_for :instructions do |instructions_fields| %>
		<div class='instructions-table-row'>
			<div class='table-col instructions-table-col-1-3'>
				<%= instructions_fields.hidden_field :id%><%= instructions_fields.text_field :step_number, :autocomplete => :off %>
			</div>
			<div class='table-col instructions-table-col-2-3'>
				<%= instructions_fields.text_area :details, size: "50x5", :autocomplete => :off, :class => 'multiline'  %>
			</div>
			<div class='table-col instructions-table-col-3-3'>
				<%= instructions_fields.link_to_remove "Remove" %>
			</div>
		</div>
		<%end%>
		<div class='table-row'>
			<%= ig_fields.link_to_add "Add an instruction", :instructions, :class => "link-button" %>
		</div>
		<%end%>
		<%= f.link_to_add 'Add Group', :instruction_groups %>
	</div>
</div>
<br/>

<h2>Comments</h2>
<p>
	<%= f.text_area :comments, size: "100x6" %>
</p>

<br/>
<p>
	<%= f.submit %>
</p>
<% end %>
