 <tr class="fields">
 	<td><%= f.hidden_field :id %><%= f.text_field :quantity %></td>
	<td><%= f.collection_select(:ingredient_id, 
								Ingredient.order("name"), 
								:id, :name, :prompt => '<Select an Ingredient>') %></td>
	<td><%= f.text_field :preparation %></td>
	<td><%= f.link_to_remove "Remove", :data => {:target => "#ingredients"} %></td>
 </tr>