 <tr class="fields">
 	<td><%= f.hidden_field :id %><%= f.text_field :quantity, :value => f.object.quantity_as_string, :autocomplete => :off %></td>
 	
 	<td><%= f.collection_select(:ingredient_id, 
								Ingredient.order("name"), 
								:id, :description_in_recipe, :prompt => '<Select an Ingredient>') %></td>
	<td><%= f.text_field :preparation, :autocomplete => :off %></td>
	<td><%= f.link_to_remove "Remove", :data => {:target => "#ingredients"} %></td>
 </tr>