<h1>
	<%if !@filtered_text.blank?%>
Filtered Recipes: <%=@filtered_text%>
<%else%>
All Recipes
<%end%>
	</h1>
 <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
   <%= hidden_field_tag :sort_by, params[:sort_by] %>
 <div class='boxed_table'>
  <table>
 	<tr>
 		<td>
 			Filter by Name:
 		</td>
		<td>
 			<%= text_field_tag :search_by_recipe_name, 
 							params[:search_by_recipe_name], 
 							placeholder: "Search Recipes by Name", 
 							:autocomplete => :off %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_recipe_name' %>
		</td>
 	</tr>
 	<tr>
 		<td>
 			Filter by Ingredient:
 		</td>
		<td>
			<%= text_field_tag :search_by_ingredient_name, 
								params[:search_by_ingredient_name], 
								placeholder: "Search Recipes by Ingredient", 
								:autocomplete => :off %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_ingredient_name' %>
		</td>
 	</tr>
 	<tr>
 		<td align='right'>Or Exact:</td>
 		<td align='right'>
		<%= select_tag(:search_by_ingredient_base_id, 
							options_from_collection_for_select(
								IngredientBase.order_by_name, 
								:id, :name, @search_ingredient_base.id),
							:prompt => '<Select an Ingredient>'
							) %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_ingredient_base_id' %>
		</td>
 	</tr>
 	 <tr>
 		<td>
 			Filter by Category:
 		</td>
		<td align='right'>
			<%= select_tag(:search_by_category_id, 
							options_from_collection_for_select(
								Category.order("name"), 
								:id, :name, @search_category.id),
							:prompt => '<Select a Category>'
							) %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_category_id' %>
		</td>
 	</tr>
 	<tr>
 		<td>
 			Filter by Tag
 		</td>
		<td align='right'>
			<%= select_tag(:search_by_tag_id, 
							options_from_collection_for_select(
								Tag.order("name"), 
								:id, :name, @search_tag.id),
							:prompt => '<Select a Tag>'
							) %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_tag_id' %>
		</td>
 	</tr>
 </table>
 
 <%= link_to 'Clear Filters', recipes_path %>
 </div>
<%end%>
 
<% if @is_admin %>
  <p>
 <%= link_to 'Add recipe', new_recipe_path %>
 </p>
<% end %>

<%= render 'table' %>

