<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
<p>
	<strong>Links:</strong><br/>
	<ul class="navigation">
	<% @recipe.links.each do |link| %>
		<li><a href="<%= link.url %>"><%= link.url %></a></li>
	<% end %>
	</ul>
</p>

<p>
	<table class='gridtable'>
		<caption>Ingredients</caption>
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Name</th>
			<tr>
		</thead>
			
	<% @recipe.ingredient_quantities.each do |ingredient_quantity| %>
		<tr>
			<td><%= ingredient_quantity.quantity %></td>
			<td><%= ingredient_quantity.ingredient.name %></td>
		</tr>
	<% end %>
	</table>
</p>

<p>
	<table class='gridtable'>
	<caption>Instructions</caption>
	<thead>
		<tr>
			<th>Step #</th>
			<th>Instruction</th>
		<tr>
	</thead>
		
	<% @recipe.instructions.each do |instruction| %>
	<tr>
		<td><%= instruction.step_number %></td>
		<td><%= instruction.details %></td>
	</tr>
	<% end %>
	</table>
</p>

<%= link_to 'All Recipes', recipes_path %>
 | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
