<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
<p>
	<strong>Links:</strong><br/>
	<ul class="navigation">
	<% @recipe.links.each do |link| %>
		<li><a href="<%= link.url %>" /></li>
	<% end %>
	</ul>
</p>

<p>
	<strong>Ingredients:</strong>
	<ul>
	<% @recipe.ingredient_quantities.each do |ingredient_quantity| %>
		<li><%= ingredient_quantity.ingredient.name %>: <%= ingredient_quantity.quantity %></li>
	<% end %>
	</ul>
</p>

<p>
	<strong>Instructions:</strong>
	<ol>
	<% @recipe.instructions.each do |instruction| %>
		<li><%= instruction.details %></li>
	<% end %>
	</ol>
</p>

<%= link_to 'All Recipes', recipes_path %>
 | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
