
<h1 class='h1-smaller-margin'><%= @recipe.name %> (<%= link_to 'Edit', edit_recipe_path(@recipe) %>)</h1>

<% if @recipe.category %>
	<%= link_to @recipe.category.name,
      			recipes_path(:search_by_category_id => @recipe.category.id),
      			:class => 'category_tag'
      			%>
<%end%>

<p>
  <%= @recipe.description %>
</p>

<% if @recipe.links.any? %>
<div id="related_links">
	<strong>Links:</strong><br/>
	<ul >
	<% @recipe.links.each do |link| %>
	 <li><%= link_to link.description, link.url, :target=> '_blank' %></li>
	<% end %>
	</ul>
</div>
<%end%>

<p>
Total Time: <%= @recipe.total_time || "N/A" %>, 
Active Time: <%= @recipe.active_time || "N/A" %>, 
Cooking Time: <%= @recipe.cooking_time || "N/A" %>
</p>

<p>
	Rating: <%= @recipe.rating || "N/A" %>
</p>

<p>
	Number of Portions: <%= @recipe.portion_count || "N/A" %>
</p>

<table class='gridtable'>
	<caption>Fact Sheet</caption>
	<thead>
		<tr>
			<th></th>
			<th>Total</th>
			<th>Per Portion</th>
		</tr>
	</thead>
	<tr>
		<td>Cost</td>
		<td><%= @recipe.total_cost %></td>
		<td><%= @recipe.cost_per_portion %></td>
	</tr>
	<tr>
		<td>KCal</td>
		<td><%= @recipe.total_kcal %></td>
		<td><%= @recipe.kcal_per_portion %></td>
	</tr>
</table>

<div id='ingredients_div'>
	<table class='gridtable'>
		<caption>Ingredients</caption>
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Ingredient</th>
				<th>Cost</th>
				<th>KCal</th>
			<tr>
		</thead>
			
    <% @recipe.ingredient_quantity_groups.each do |iqd| %>
        <%if @recipe.ingredient_quantity_groups.count > 1 || iqd.name != "Ingredients" %>
        	<tr>
        		<td colspan="4" class='bold_centered'><%= iqd.name %></td>
      		</tr>
      	<%end%>
		<% iqd.ingredient_quantities.each do |ingredient_quantity| %>
		<tr>
			<td><%= ingredient_quantity.quantity_description %></td>
			<td><%= ingredient_quantity.prepared_ingredient_description %></td>
			<td><%= ingredient_quantity.cost_as_str %></td>
			<td><%= ingredient_quantity.kcal_as_str %></td>
		</tr>
		<%end%>
	<% end %>
	</table>
</div>
</br>
<div id='instructions_div'>
	<table class='gridtable'>
	<caption>Instructions</caption>
	<thead>
		<tr>
			<th>Step #</th>
			<th>Instruction</th>
		<tr>
	</thead>
	<% @recipe.instruction_groups.each do |ig| %>
        <%if @recipe.instruction_groups.count > 1 || ig.name != "Instructions" %>
    	<tr>
    		<td colspan="3" class='bold_centered'><%= ig.name %></td>
  		</tr>
      	<%end%>
      	
		<% ig.instructions.each do |instruction| %>
		<tr>
			<td><%= instruction.step_number %></td>
			<td style="white-space: pre-wrap;"><%= instruction.details %></td>
		</tr>
		<%end%>
	<% end %>
	</table>
</div>

<%if !@recipe.comments.blank?%>
<h2>Comments</h2>
<div class='display_box'>
<%= simple_format(@recipe.comments) %>
</div>
<%end%>
