
<h1 class='h1-smaller-margin'><%= @recipe.name %> (<%= link_to 'Edit', edit_recipe_path(@recipe) %>)</h1>

<% if @recipe.category %>
	<%= link_to @recipe.category.name,
      			recipes_path(:search_by_category_id => @recipe.category.id),
      			:class => 'category_tag'
      			%>
<%end%>

<p>
  <%= @recipe.description %>
</p>

<% if @recipe.links.any? %>
<div id="related_links">
	<strong>Links:</strong><br/>
	<ul >
	<% @recipe.links.each do |link| %>
		<li><a href="<%= link.url %>"><%= link.description %></a></li>
	<% end %>
	</ul>
</div>
<%end%>

<p>
Total Time: <%= @recipe.total_time || "N/A" %>, 
Active Time: <%= @recipe.active_time || "N/A" %>, 
Cooking Time: <%= @recipe.cooking_time || "N/A" %>
</p>

<p>
	Rating: <%= @recipe.rating || "N/A" %>
</p>

<p>
	Number of Portions: <%= @recipe.portion_count || "N/A" %>
</p>

<div id='ingredients_div'>
	<table class='gridtable'>
		<caption>Ingredients</caption>
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Ingredient</th>
			<tr>
		</thead>
			
	<% @recipe.ingredient_quantities.each do |ingredient_quantity| %>
		<tr>
			<td><%= ingredient_quantity.quantity %></td>
			<td><%= ingredient_quantity.ingredient.name -%>
				<% if ingredient_quantity.preparation && !ingredient_quantity.preparation.empty?%>
, <%= ingredient_quantity.preparation %>
				<%end%>
			</td>
		</tr>
	<% end %>
	</table>
</div>
</br>
<div id='instructions_div'>
	<table class='gridtable'>
	<caption>Instructions</caption>
	<thead>
		<tr>
			<th>Step #</th>
			<th>Instruction</th>
		<tr>
	</thead>
		
	<% @recipe.instructions.each do |instruction| %>
	<tr>
		<td><%= instruction.step_number %></td>
		<td><%= instruction.details %></td>
	</tr>
	<% end %>
	</table>
</div>

<%if !@recipe.comments.blank?%>
<h2>Comments</h2>
<div class='display_box'>
<%= simple_format(@recipe.comments) %>
</div>
<%end%>
