<h1>Ingredients</h1>

 <% if @ingredient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited
      this ingredient from being updated:</h2>
    <ul>
    <% @ingredient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% else %>
  
  <% end %>
  
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    
<%= form_for @ingredient do |f| %>
  <p>
    <%= f.text_field :name, :autocomplete => :off %>
    <%= f.collection_select(:measurement_type_id, 
								MeasurementType.all, 
								:id, :measurement_type, :prompt => '<Select a Measurement Type>') %>
	<br/>
	<table>
	 	<tr>
	 		<td><%= f.label :cost_basis %></td>
	 		<td><%= f.text_field :cost_basis, :size => 4, :autocomplete => :off %></td>
            <td><%= f.label :cost %></td>
            <td><%= f.text_field :cost, :size => 4, :autocomplete => :off %></td>
	 		<td><%= f.label :cost_note, "Note" %></td>
	 		<td><%= f.text_field :cost_note, :size => 25, :autocomplete => :off %></td>
	 	</tr>
	 	<tr>
	 		<td><%= f.label :kcal_basis %></td>
	 		<td><%= f.text_field :kcal_basis, :size => 4, :autocomplete => :off %></td>
            <td><%= f.label :kcal %></td>
            <td><%= f.text_field :kcal, :size => 4, :autocomplete => :off %></td>
	 		<td><%= f.label :kcal_note, "Note" %></td>
	 		<td><%= f.text_field :kcal_note, :size => 25, :autocomplete => :off %></td>
	 	</tr>
	</table>
	<br/>
    <%= f.submit %>
  </p>
<% end %>
   
<table class='gridtable'>
  <tr>
    <th>Name</th>
    <th>Measurement</th>
    <th>Cost (£)</th>
    <th>KCal</th>
    <th># Recipes</th>
  </tr>
 
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.measurement_type_str %></td>
      <td><%= ingredient.cost_str %></td>
      <td><%= ingredient.kcal_str %></td>
      <td><%= link_to ingredient.recipes_count,
      			recipes_path(:search_by_ingredient_id => ingredient.id)%></td>
      <td><%= link_to 'Edit', ingredient_path(ingredient) %></td>
      <td><%= link_to 'Delete', ingredient_path(ingredient),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
