<h1>Categories</h1>

 <% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited
      this category from being updated:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% else %>
  
  <% end %>
  
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    
<% if @is_admin %>
    
<%= form_for @category do |f| %>
  <p>
    <%= f.text_field :name %> <%= f.submit %>
  </p>
<% end %>
<% end %>
 
<table class='gridtable'>
  <tr>
    <th>Name</th>
    <th>Recipes</th>
    <th>Future Recipes</th>
  </tr>
 
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name,
      			recipes_path(:search_by_category_id => category.id)%></td>
      			
      <td><%= link_to category.recipes.count,
      			recipes_path(:search_by_category_id => category.id)%></td>
      <td><%= link_to category.future_recipes.count,
      			future_recipes_path(:search_by_category_id => category.id)%></td>
<%if @is_admin %>
      <td><%= link_to 'Edit', category_path(category) %></td>
      <td><%= link_to 'Delete', category_path(category),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>
    </tr>
  <% end %>
</table>