<%= form_for(@future_recipe) do |f| %>
  <% if @future_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future_recipe.errors.count, "error") %> prohibited this future_recipe from being saved:</h2>

      <ul>
      <% @future_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link, :size => 100 %>
  </div>
  <p>
	<%= f.label :category %>
	<%= f.collection_select(:category_id, Category.order("name"), :id, :name, prompt: true) %>
  </p>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :size => 100%>
  </div>

<div class="checkboxes">
<%c=0%>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |cb| %>
	<%=cb.label class:"label-checkbox" do%>
         <%=cb.check_box + cb.text%>
        <%end%>
        <%c=c+1%>
        <%if c == 5%><br/><%end%>
      <%end%>>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
