<h1>
	<%if !@filtered_text.blank?%>
Filtered Future Recipes: <%=@filtered_text%>
<%else%>
All Future Recipes
<%end%>
	</h1>
 <%= form_tag(future_recipes_path, :method => "get", id: "search-form") do %>
 <%= hidden_field_tag :sort_by, params[:sort_by] %>

 <div class='boxed_table'>
  <table>
 	<tr>
 		<td>
 			Filter by Name:
 		</td>
		<td>
 			<%= text_field_tag :search_by_future_recipe_name, 
 							params[:search_by_future_recipe_name], 
 							placeholder: "Search Future Recipes by Name", 
 							:autocomplete => :off %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_future_recipe_name' %>
		</td>
 	</tr>
 	<tr>
 		<td>
 			Filter by Site:
 		</td>
		<td>
			<%= text_field_tag :search_by_website, 
								params[:search_by_website], 
								placeholder: "Search Future Recipes by Website", 
								:autocomplete => :off %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_website' %>
		</td>
 	</tr>
 	
 	 <tr>
 		<td>
 			Filter by Category:
 		</td>
		<td align='right'>
			<%= select_tag(:search_by_category_id, 
							options_from_collection_for_select(
								Category.order("name"), 
								:id, :name, @search_category.id),
							:prompt => '<Select a Category>'
							) %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_category_id' %>
		</td>
 	</tr>
 	<tr>
 		<td>
 			Filter by Tag
 		</td>
		<td align='right'>
			<%= select_tag(:search_by_tag_id, 
							options_from_collection_for_select(
								Tag.order("name"), 
								:id, :name, @search_tag.id),
							:prompt => '<Select a Tag>'
							) %>
		</td>
		<td>
			<%= submit_tag "Search", :name => 'submit_search_by_tag_id' %>
		</td>
 	</tr>
 </table>
 <input type="checkbox" name="include_done" value="1">Include Done?<br>
 <input type="checkbox" name="include_discarded" value="1">Include Discarded?<br>
 
 <%= link_to 'Clear Filters', future_recipes_path %>
 </div>
<%end%>
 

<br>
<%= form_tag({:controller => "future_recipes" , :action => "new"} , {:method => :get, id: "add-update-form"}) do %>
 <div class='boxed_table'>
  <table>
 	<tr>
 		<td>
 			Add or Update Link:
 		</td>
		<td>
 			<%= text_field_tag :new_link, 
 							params[:new_link], 
 							placeholder: "New Link to Add", 
 							:autocomplete => :off %>
		</td>
		<td>
			<%= submit_tag "Add or Update", :name => 'add_or_update_link' %>
		</td>
 	</tr>
  </table>
</div>
<%end%>
 							

<%= render 'table' %>

