
<h1 class='h1-smaller-margin'><%= @future_recipe.name %> 
	<%if @is_admin%>(<%= link_to 'Edit', edit_future_recipe_path(@future_recipe) %>)<%end%>
	</h1>


<% if @future_recipe.category %>
	<%= link_to @future_recipe.category.name,
      			future_recipes_path(:search_by_category_id => @future_recipe.category.id),
      			:class => 'category_tag'
      			%><br/>
<%end%>
<br />
<p>
	<strong>Rank:</strong> <%= @future_recipe.rank%><br/><br/>
	<strong>State:</strong> <%= @future_recipe.get_state.capitalize%><br/>
	<strong>
<%if @future_recipe.state == "pending"%>
  <%= link_to 'Mark as Done', set_state_future_recipe_path(@future_recipe, :state => :done) %><br/>
  <%= link_to 'Mark as Discarded', set_state_future_recipe_path(@future_recipe, :state => :discarded) %>
<%else%>
  <%= link_to 'Reset', set_state_future_recipe_path(@future_recipe, :state => :reset) %>
<%end%>
</strong>
</p>
<br />
<p>
  <strong>Description:</strong>
  <%= @future_recipe.description %>
</p>


<% if @future_recipe.tags.count > 0%>
<p>
	<% @future_recipe.tags.each do |tag|%>
		<%= link_to tag.name,
      			future_recipes_path(:search_by_tag_id => tag.id),
      			:class => 'tag_tag'
      			%><br/>
    <%end%>
</p>
<%end%>


<div id="related_links">
	<strong>Link:</strong><br/>
	<ul >
	 <li><%= link_to @future_recipe.link, @future_recipe.link, :target=> '_blank' %></li>
	</ul>
</div>

<br/>
<br/>
<%= link_to 'Edit', edit_future_recipe_path(@future_recipe) %> |
<%= link_to 'Back', future_recipes_path %>
