<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>

<p>
<ul class='my_navbar'>
	<li><%= link_to 'All Recipes', recipes_path %></li>
	<li><%= link_to 'All Ingredients', ingredients_path %></li>
</ul>
</p>
<br />

<%= yield %>

</body>
</html>
