<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if @recipe && !@recipe.name.blank? %>
  	<%=@recipe.name%>
  	<%else%>
  	Recipes
  	<%end%>
  	</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>

<ul class='my_navbar'>
	<li><%= link_to 'All Recipes', recipes_path %></li>
	<li><%= link_to 'All Ingredients', ingredients_path %></li>
</ul>

<br />

<%= yield %>

</body>
</html>
